@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* Nav bar section */

.navigation-bar {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  font-size: medium;
  align-items: center;
}
.logo-img {
  width: 355px;
  height: 70px;
}
.search-event-form {
  border: 2px solid #ff5700;
  border-radius: 51px;
  opacity: 1;
  display: flex;
  width: fit-content;
  padding: 2px 7px 2px 7px;
}
.search-event-input {
  border-radius: 51px;
  outline: none;
  border: none;
  width: 20vw;
}
.search-icon {
  cursor: pointer;
  font-size: 15px;
  margin-right: 5px;
  margin-top: 6px;
}
.submit-search-btn {
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  background: transparent linear-gradient(180deg, #fbb43d 0%, #f60900 100%) 0%
    0% no-repeat padding-box;
  border-radius: 51px;
  border: none;
}
.public-events-link,
.private-events-link {
  text-decoration: none;
  padding-top: 5px;
  color: black;
}
.public-events-link:hover,
.private-events-link:hover {
  border-bottom: solid 2px#FF5700;
  color: #ff5700;
}
.create-event-link {
  text-decoration: none;
  color: #ffffff;
  background: transparent linear-gradient(180deg, #fbb43d 0%, #f60900 100%) 0%
    0% no-repeat padding-box;
  border-radius: 51px;
  padding: 5px 0;
  text-align: center;
  width: 10vw;
}
.create-event-link:hover {
  background: transparent;
  color: #ff5700;
  font: bolder;
  border: 2px solid #ff5700;
}
.log-in-link {
  text-decoration: none;
  background: transparent;
  border: 2px solid #ff5700;
  border-radius: 51px;
  padding: 3px 25px;
  color: black;
  width: 10vw;
  text-align: center;
}
.log-in-link:hover {
  background: transparent linear-gradient(180deg, #fbb43d 0%, #f60900 100%) 0%
    0% no-repeat padding-box;
  color: #ffffff;
  border: none;
  padding: 5px 25px;
}

/* End */

.confirmed-booking-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirmed-booking-card {
  background-color: #f0f0f0;
  padding: 3rem 2rem;
  border-radius: 5px;
  display: block;
  width: fit-content;
}
.request-number {
  font-size: small;
  text-align: center;
}
.confirm-booking-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 10px;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
}
.confirm-booking-body i {
  font-size: 80px;
  color: #25ae88;
  margin: 2rem 0;
}
.confirmed-msg {
  font-weight: bolder;
  margin: 2rem;
}
.thanks-msg {
  font-weight: bolder;
  font-size: x-large;
  color: gray;
}
.booking-number {
  margin: 2rem 0 0 0;
  font-weight: bolder;
  font-size: large;
}
.close-button {
  border: 1px solid black;
  border-radius: 20px;
  width: 10rem;
  margin: 1rem 0 2rem 0;
  font-weight: bold;
}
.close-button:focus,
.login-btn:focus,
.done-btn:focus {
  box-shadow: none;
}
.login-btn {
  margin: 2rem 0 0 0;
  border: 1px solid #ff5700;
  border-radius: 10px;
  text-align: center;
  padding: 5px 20px;
}
.done-btn {
  margin: 1rem 0 1rem 0;
  border: none;
  background-color: #ff5700;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 5px 4rem;
}
